## Assignment 03 - Q2. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

### --> Analysis of variance between more than 2 samples(Laboratories) - so we are using here 'Anova ftest statistics'

### Assume, 

### H0 : there is no significant difference in the average Turn Around Time (TAT)

### H1 : there is significant difference in the average Turn Around Time (TAT) (at least one mean is different.)

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/LabTAT.csv')

In [ ]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### Performing one-way ANOVA.

### The test is applied to samples from two or more groups, possibly with differing sizes

In [ ]:
# Anova ftest statistics
p_value=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_value[1]

2.1156708949992414e-57

## Conclusion:

p_value < Î± 

that is 

2.1156708949992414e-57 < 0.05 

so, Accept H1 : there is significant difference in the average Turn Around Time (TAT) (at least one mean is different.)

Reject H0.